:root {
  --main-color: #2e2f42;
  --second-color: #434455;
  --background-color: #ffffff;
  --background-btn: #f4f4fd;
  --hover-btn-color: #404bbf;
  --hover-color: #4d5ae5;
  --footer-text: #e7e9fc;
}

body {
  background: #ffffff;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

/* -------------------header -------------- */
.header {
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-list {
}

.header-nav {
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.accent {
  color: var(--hover-color);
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--hover-color);
}

.header-tel {
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  list-style: none;
  color: var(--second-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--hover-color);
}

.hero,
.footer {
  background: var(--main-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--background-color);
}

.hero-btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: var(--hover-color);
  color: var(--background-color);
}

.portfolio-btn {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  padding: 12px 24px;
  background: var(--background-btn);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-color);
  background-color: var(--hover-btn-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-btn-color);
}

.category {
}

.category-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.category-list {
}

.category-item {
}

.category-suptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.category-text {
  color: var(--second-color);
  line-height: 1.5;
  /* font-size: 16px; */
}

.work {
}

.work-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.work-list {
}

.work-item {
}

.team {
}

.team-title {
  background: var(--background-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
}

.team-item {
}

.team-suptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}
.portfolio-team-suptext {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-team-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-btn);
}

.footer-accent {
  color: var(--hover-color);
}

.footer-text {
  color: var(--footer-text);
  line-height: 1.5;
}

/*----------------- PORTFOLIO -------------- */
